<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>calling to mounika...............</h1>
        <h1>Lifted the call......</h1>
        <h1>How are you Mounika?</h1>
        <h1>Its been so long we didnt meet</h1>
        <h1>Do you have any plans this weekend?</h1>
       <a href="{% url 'mounika' %}" ><h1>Mounika response</h1></a>
       <h1>so can we go iskcon temple this weekend</h1>
       <h1> you already know how much I like krishna</h1>
       <a href="{% url 'mounika'%}"><h1>Mounika response</h1></a>
    </center>
</body>
</html>